$main-color: #E8E8E4;
$second-color: #D8E2DC;
$third-color: #ECE4DB;
$forth-color: #3d5a80;
$box-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);
$sidebar-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);

.dashboard-body{
    .add-data-button{
        background-color: $forth-color;
        border-radius: 50%;
        color: $main-color;
        margin-left: 5px;
        outline: none;
        box-shadow: $box-shadow;
        border: none;
        position: fixed;
        right: 2%;
        bottom: 3%;
        &:hover{
            transform: translateY(-5px);
            background-color: $forth-color;
        }
    }
    .product-list{
        margin-left: 30px;
        text-align: center;
        .body-table{
            vertical-align: middle;
        }
        .col-photo{
            width: 5%;
            height: 5%;
            .dashboard-photo{
                width: 100%;
                height: 100%;
            }
        }
        .action-button{
            margin-left: 5px;
            outline: none;
            box-shadow: none;
            border: none;
        }
    }
}
.upload-button{
    max-width: fit-content;
    margin-left: 80%;
    background-color: $second-color;
    border: solid $main-color;
    border-radius: 10%;
    outline: $main-color;
    a{
        font-size: small;
        &:hover{
            color: black;
        }
        color: inherit;
    }
}
.cancel-button{
    margin-left: 5px;
}
.preview-form{
    text-align: center;
    .photo-preview{
        width: 40%;
        height: 40%;
    }
    .category{
        text-align: right;
        padding-right: 10px;
    }
    .name{
        padding: 10px;
    }
    .price-stock{
        padding: 10px;
    }
}